ENV_FILE=.evn.dev
RUN_NOTHING_ON_LOCAL=0 or 1
RUN_SONAR_ANALYSIS=0 or 1
APP_ENVIRONMENT=development or production

DB_EXPOSED_PORT=your_db_exposed_port
API_EXPOSED_PORT=your_api_exposed_port
EXTERNAL_NETWORK=your_external_network

MYSQL_DATABASE=your_mysql_database
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_ROOT_PASSWORD=your_mysql_root_password

DATABASE_HOST=your_database_host
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
JWT_SECRET=your_jwt_secret